<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='productedit.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="product-edit-container">
        <aside class="sidebar">
            <h2>Panel</h2>
            <nav>
                <ul>
                    <li><a href="{{url_for('dashboard.dashboard')}}"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="{{url_for('dashboard.dashboard')}}"><i class="fas fa-chart-line"></i> Analytics</a></li>
                    <li><a href="{{url_for('dashboard.dashboard')}}"><i class="fas fa-cogs"></i> Settings</a></li>
                    <li><a href="{{url_for('login.logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <section class="product-edit">
                <h1>Edit Product {{ product.id }}</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-message">
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                <form action="{{url_for('products.productupdate', product_id=product.id)}}" method="POST" enctype="multipart/form-data">
                    <!-- Thumbnail Section -->
                    <div class="thumbnail-section">
                        <h2>Product Thumbnail</h2>
                        <div class="thumbnail-container">
                            <img src="{{ product.thumbnail }}" alt="Product Thumbnail" class="thumbnail-image">
                            <div class="thumbnail-buttons">
                                <button type="button" class="action-button edit-button" onclick="openThumbnailModal()">
                                    <i class="fas fa-edit"></i> Change
                                </button>
                                <a href="{{url_for('products.imagedelete', product_id=product.id, img_id=product.thumbnail_id)}}" class="action-button delete-button">
                                    <i class="fas fa-trash"></i> Delete
                                </a>
                            </div>
                        </div>
                        <!-- Campo oculto para o ID da nova thumbnail -->
                        <input type="hidden" id="newThumbnailId" name="newThumbnailId">
                    </div>

                    <!-- Modal para seleção de thumbnail -->
                    <div id="thumbnailModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeThumbnailModal()">&times;</span>
                            <h2>Select Thumbnail</h2>
                            <div class="modal-images">
                                {% for picture in product.pictures %}
                                    <div class="modal-image-container" onclick="selectThumbnail('{{ picture.id }}', '{{ picture.secure_url }}')">
                                        <img  src="{{ picture.secure_url }}" alt="Product Image" class="modal-image">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Pictures Section -->
                    <div class="pictures-section">
                        <h2>Product Pictures</h2>
                        <div class="pictures-container">
                            {% for picture in product.pictures %}
                                <div class="picture-container">
                                    <img src="{{ picture.secure_url }}" alt="Product Image" class="picture-image">
                                    <div class="picture-buttons">
                                        <label for="imageUpload{{ loop.index0 }}" class="action-button edit-button">
                                            <i class="fas fa-edit"></i> Change
                                        </label>
                                        <input type="file" id="imageUpload{{ loop.index0 }}" name="imageUpload{{ loop.index0 }}" style="display: none;">
                                        <a href="{{url_for('products.imagedelete', product_id=product.id, img_id=picture.id)}}" class="action-button delete-button">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            <label for="newImageUpload" class="upload-button">
                                <i class="fas fa-plus"></i> Add Image
                            </label>
                            <input type="file" id="newImageUpload" name="newImageUpload" accept="image/*" style="display: none;" onchange="previewImage(event)">
                        </div>
                    </div>
                    <!-- Product Info Section -->
                    <div class="product-info">
                        <div class="form-group">
                            <label for="productName">Product Name:</label>
                            <input type="text" name="productName" value="{{ product.title }}"> 
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Description:</label>
                            <textarea name="productDescription">{{ product_description.plain_text }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="productPrice">Price (R$):</label>
                            <input type="text" name="productPrice" value="{{ product.price }}">
                        </div>
                        <div class="form-group">
                            <label for="productCondition">Condition:</label>
                            <select id="productCondition" name="productCondition">
                                <option value="used" {% if product.condition == "used" %}selected{% endif %}>Used</option>
                                <option value="not_specified" {% if product.condition == "not_specified" %}selected{% endif %}>Not Specified</option>
                                <option value="new" {% if product.condition == "new" %}selected{% endif %}>New</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productStatus">Status:</label>
                            <select id="productStatus" name="productStatus">
                                <option value="active" {% if product.status == "active" %}selected{% endif %}>Active</option>
                                <option value="paused" {% if product.status == "paused" %}selected{% endif %}>Paused</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productQuantity">Quantity:</label>
                            <input type="number" name="productQuantity" value="{{ product.available_quantity }}">
                        </div>
                        <button type="submit" class="save-btn">Save Changes</button>
                    </div>
                </form>
            </section>
        </main>
    </div>

    <script>
        function previewImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function () {
                const newImageContainer = document.createElement('div');
                newImageContainer.classList.add('picture-container');
                const newImage = document.createElement('img');
                newImage.src = reader.result;
                newImage.alt = 'New Product Image';
                newImage.classList.add('picture-image');
                newImageContainer.appendChild(newImage);
                document.querySelector('.pictures-container').appendChild(newImageContainer);
            };

            if (file) {
                reader.readAsDataURL(file);
            }
        }

                // Função para abrir o modal de seleção de thumbnail
                function openThumbnailModal() {
            document.getElementById('thumbnailModal').style.display = 'block';
        }

        // Função para fechar o modal de seleção de thumbnail
        function closeThumbnailModal() {
            document.getElementById('thumbnailModal').style.display = 'none';
        }

        // Função para selecionar uma imagem como thumbnail
        function selectThumbnail(imageId, imageUrl) {
            // Atualiza o campo oculto com o ID da imagem selecionada
            document.getElementById('newThumbnailId').value = imageId;

            // Atualiza a imagem de thumbnail exibida
            document.querySelector('.thumbnail-image').src = imageUrl;

            // Fecha o modal
            closeThumbnailModal();
        }
    </script>
</body>
</html>