<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associated Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Menu lateral -->
        <aside class="sidebar">
            <h2>Admin Panel</h2>
            <nav>
                <ul>
                    <li><a href="{{url_for('dashboard.dashboard')}}"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#"><i class="fas fa-chart-line"></i> Analytics</a></li>
                    <li><a href="{{ url_for('users.users') }}"><i class="fas fa-users"></i> Users</a></li>
                    <li><a href="#"><i class="fas fa-cogs"></i> Settings</a></li>
                    <li><a href="{{ url_for('login.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Main content -->
        <main class="main-content">
            <!-- Header -->
            <header class="header">
                <h1>Users Associated with Store</h1>
                <div class="header-actions">
                    <div class="user-info">
                        <i class="fas fa-user"></i>
                        <li><a href="{{ url_for('users.userinfo') }}">{{ userinfo_ml['name'] }}</a></li>
                    </div>
                </div>
            </header>

            <!-- Associated Users -->
            <section class="associated-users">
                {% if usersinfo %}
                {% for user in usersinfo %}
                    <div class="user-container">
                        <h3>{{ user.name }}</h3>
                        <h1>{{user.shop.name}}</h1>
                        <h1>{{user.shop.id}}</h1>
                        <h1>{{user.shop}}</h1>
                        <p>Email: <strong>{{ user['email'] }}</strong></p>

                        {% if user.adm %}
                            <p class="role adm-role">Adm</p>
                        
                        {% else %}
                            <p class="role mda-role">Regular user</p>
                        {% endif %}

                        <div class="user-actions">
                            <button class="action-button edit-button">
                                <a href="{{ url_for('users.useredit', user_id=user.id) }}"><i class="fas fa-edit"></i> Edit</a>
                            </button>
                            <button class="action-button delete-button">
                                <a href="{{ url_for('users.userdelete', user_id=user.id) }}"><i class="fas fa-trash"></i> Delete</a>
                            </button>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <p>No users associated with this store.</p>
                {% endif %}
                <button class="add-user-button">
                    <a href="{{url_for('users.useradd')}}"><i class="fas fa-user-plus"></i> Add User</a>
                </button>
            </section>
        </main>
    </div>
</body>
</html>
